<!-- templates/dashboard/client_dashboard.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Welcome, {{ client.user.username }}</h1>
    <h2>Company: {{ client.company_name }}</h2>
    <h3>Assigned Workers:</h3>
    {% if assignments %}
        <ul>
            {% for assignment in assignments %}
                <li>{{ assignment.worker.first_name }} {{ assignment.worker.last_name }} - {{ assignment.worker.phone_number }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No workers yet</p>
    {% endif %}
</div>
{% endblock %}
